@font-face {
	font-family: 'Oxeygen Mono';
	src: url("./font/oxeygen-mono/OxygenMono-Regular.otf");
}

*{
	margin: 0;
	padding: 0;
}

/* ブラウザ側で勝手に追加する青い枠線を消す */
:focus{
	outline: none;
}
/*
	ターミナル表示用textareaタグ
*/
#terminal{
	font-family: 'Oxeygen Mono', 'courier new', Futura, Helvetica, '游ゴシック', 'メイリオ', Osaka;
	width: 100%;
	height: 100%;
	border-radius: 30px 50px 30px 50px;
	padding: 20px;
	overflow: auto;	/* IEでは設定しておかないとスクロールバーが表示されしまう */
	display: block;	/* 指定しないとスクロールバーが表示される */
	border: none;	/* 変な余白が出ないように */
	resize: none;		/* リサイズできると格好悪いので */
	background-color: #f4f4f4;
	color: #666;
	font-size: 20px;
	line-height: 28px;	/* 全角文字を入力時にこれ以上の高さがないと入力時にぎくしゃくするため */
}

.UnderBar {
	font-family: 'courier new', Futura, Helvetica, '游ゴシック', 'メイリオ';
}
