body {
    max-width: 1920px;
    max-height: 1260px;
    font-size: 20px;
    font-family: "Montserrat",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro',游ゴシック体,'Yu Gothic',YuGothic,sans-serif;
    background: azure;
    margin: 0;
    padding: 0;
    border: 0;
}


a:hover {
    color: darkcyan;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

#title {
    font-size: 36px;
    color: red;
}
