@font-face {
	font-family: 'Oxeygen Mono';
    src: url("./font/oxeygen-mono/OxygenMono-Regular.otf");
    font-family: 'Refale';
    src: url("./font/Refale/Rafale-BG.ttf");
}

body {
    max-width: 100vw;
    max-height: 1260px;
    font-size: 20px;
    font-family: "Montserrat",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro',游ゴシック体,'Yu Gothic',YuGothic,sans-serif;
    background: #252525;
    color: #ddd;
    margin: 0;
    padding: 0;
    border: 0;
}

a:hover {
    color: darkcyan;
}

a {
    text-decoration: none;
    color: cornflowerblue;
}

.Top {
    width: 100%;
    background-image: url("./image/hut-1681485_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    font-family: 'Refale', "Montserrat",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro',游ゴシック体,'Yu Gothic',YuGothic,sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 0% 3% 5% 3%;
    color: orange;
}

.console {
    width: 50%;
    padding: 0% 25%;
}

#msg {
    font-family: 'Refale', "Montserrat",'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','ヒラギノ丸ゴ Pro W4','Hiragino Maru Gothic Pro',游ゴシック体,'Yu Gothic',YuGothic,sans-serif;
    font-size: 70px;
    color: orange;
    text-align: center;
    max-width: 100vw;
}


.sidebar {
    float: right;
}

.sidebar a {
    background-color: orange;
    width: 20px;
    height: 20px;
}

.AboutMe {
    background: azure;
    height: 100vh;
}

.Develop {
    background: lightcyan;
    height: 100vh;
}

.GPS {
    background: rgb(20, 20, 63);
    height: 100vh;
}
